
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400|Raleway:300,400,500,600,700");
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: local("Montserrat"), url("fonts/Montserrat/Montserrat-Light.ttf") format("ttf");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat"),  url("fonts/Montserrat/Montserrat-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  src: local("Raleway"),  url("/fonts/Raleway/Raleway-Light.ttf") format("ttf");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: local("Raleway"),  url("/fonts/Raleway/Raleway-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  src: local("Raleway"),  url("/fonts/Raleway/Raleway-Medium.ttf") format("ttf");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  src: local("Raleway"),  url("/fonts/Raleway/Raleway-SemiBold.ttf") format("ttf");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: local("Raleway"), url("/fonts/Raleway/Raleway-Bold.ttf") format("ttf");
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}


.container {
  max-width: 1920px;
  margin: 0 auto;
}

.wrapper {
  width: 1170px;
  margin: 0 auto;
}

.header {
  display: flex;
  background: url(img/11949.jpg) no-repeat;
  background-color: #464540;
}

.header-side {
  width: 375px;
  display: flex;
  justify-content: center;
  align-items: center;
}



.header-arrow {
  min-height: 50px;
  min-width: 50px;
  border: 1px solid #fff;
  transform: rotate(45deg);
  cursor: pointer;
  transition: .2s linear;
}

.header-arrow-right {
  border-bottom-color: transparent;
  border-left-color: transparent;
}

.header-arrow-right:hover {
  border-top-color: #c7b299;
  border-right-color: #c7b299;
}

.header-arrow-left {
  border-top-color: transparent;
  border-right-color: transparent;
}

.header-arrow-left:hover {
  border-bottom-color: #c7b299;
  border-left-color: #c7b299;
}
.header-center {
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  align-items: center;
}

.header-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


.logo-text {
  vertical-align: middle;
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 34px;
  font-weight: 400;
  line-height: normal;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
  text-decoration: none;
  color: #fff;
}

.logo:hover .logo-icon {
  fill: brown;
}

.logo:hover .logo-txt {
  color: brown;
}

.logo:active .logo-icon {
  fill: gold;
}

.logo:active .logo-txt {
  color: gold;
}

.logo-icon {
  fill: #fff;
}

.logo-txt {
  font-family: raleway, arial, sans-serif;
  font-size: 33px;
}


.header-menu {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

#menu-input {
  display: none;
}
.burger-img {
  display: none;
  height: 64px;
  width: 64px;
  background: url(img/menu.png) no-repeat;
  background-size: cover;
}
.menu-link {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
  transition: .2s linear;
}
.menu-link:hover {
  color: #c7b299;
}
.menu-item {
  display: inline-block;
  padding: 0 13px;
}
.header-cart {
  display: inline-block;
  height: 24px;
  width: 18px;
  background-image: url(img/icon-cart-min.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 0 15px;
}

.logo:hover{
  fill: red;
}

.logo-text:hover{
  color: red;
}

.header-search {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
  width: 0px;
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
  background: transparent;
  transition: 0.7s cubic-bezier(0, 0.8, 0, 1);
  padding-left: 15px;
}

.header-search-label {
  cursor: pointer;
}
:-moz-placeholder {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
  color: rgba(255, 255, 255, 0.5);
}
:-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
  color: rgba(255, 255, 255, 0.5);
}
.header-search:focus {
  width: 100px;
  z-index: 1;
  border-bottom: 1px solid #F9F0DA;
}
.header-search-label:hover,
.header-cart:hover {
transform: scale(1.1);
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 872px;
  box-sizing: border-box;
  padding-bottom: 65px;
}
.slider-slogan {
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 36px;
  font-weight: 500;
  line-height: 65px;
}
.slider-title {
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 52px;
  font-weight: 700;
  letter-spacing: 1px;
}
.slider-text {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
  max-width: 560px;
  letter-spacing: 0.5px;
}
.link-btn {
  display: flex;
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 23px;
  background-color: #998675;
  height: 50px;
  width: 170px;
  border-radius: 3px;
  transition: .2s linear;
  box-sizing: border-box;
  align-items: center;
  margin-top: 50px;
}

.link-btn:hover {
  box-shadow: inset 0 0 100px hsla(0, 0%, 0%, .2), inset 0px 1px 0px #666, inset 0px 2px 0px #555, inset 0px 3px 0px #444, inset 0px 4px 0px #333, inset 0px 5px 4px #001135;
  padding-top: 5px;
}
.link-btn-text {
  margin: auto;
  text-transform: uppercase;
}
.slider-switch {
  display: none;
}
.slider-btns {
  text-align: center;
}
.slider-switch-btn {
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0.8;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  transition: .2s linear;
  margin: 0 3px;
}

.slider-switch:checked + .slider-switch-btn {
  border: 2px solid #d3c1ad;
  box-sizing: border-box;
  background-color: transparent;
  width: 15px;
  height: 15px;
}

.control {
  width: 350px;
  position: relative;
}

.control-radio:after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-color: #a4a3a1;
  background-clip: padding-box;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 50%;
}
.control-radio:hover:after {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #a4a3a1;
  border-radius: 50%;
}
.control-radio {
  position: absolute;
  bottom: 30px;
}
.control-radio:nth-child(1) {
  left: 38%;
}
.control-radio:nth-child(2) {
  left: 44%;
}
.control-radio:nth-child(3) {
  left: 50%;
}
.control-radio:nth-child(4) {
  left: 56%;
}
.control-radio:nth-child(5) {
  left: 62%;
}

.web {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 266px;
  padding: 84px 0px 80px 0px;
  box-sizing: border-box;
  /* border: 1px solid black; */
  text-align: center;
  color: #555555;
  background-color: #fff;
}

.web:after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #555555;
}

.web:hover .web-icon {
  fill: gold;
}

.web:hover .web-title {
  color: gold;
}

.web:hover:after {
 background-color: gold;
}

.web-icon {
  fill: #555555;
  margin: 0 0 30px 0;
}

.web-title {

  width: 100%;
  font-weight: bold;
}

.web-txt {

}


.services {
      text-align: center;
    }
    .services-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .services-item {
      height: 290px;
      width: 23%;
      box-sizing: border-box;
      padding-top: 80px;
      margin-bottom: 80px;
      cursor: pointer;
    }
    .services-icon {
      height: 52px;
      width: 52px;
      margin: 0 auto;
      margin-bottom: 29px;
    }

    .services-caption {
      font-family: "Raleway", sans-serif;
      color: #555555;
      font-size: 22px;
      font-weight: 600;
      display: block;
      padding-bottom: 10px;
      transition: .2s linear;
    }
    .services-depiction {
      font-family: "Montserrat", sans-serif;
      color: #8c8c8c;
      font-size: 14px;
      font-weight: 300;
      line-height: 24px;
      padding-bottom: 33px;
    }
    .services-line {
      background-color: #f1eee9;
      width: 70px;
      height: 3px;
      margin: 0 auto;
      transition: .2s linear;
    }

    .advert{
        background-color: #fbfaf8;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .advert-wrapper {
        display: flex;
        flex-direction: column;
        width: 1230px;
        align-items: center;
        background: url(img/browser-left-min.png) left bottom no-repeat, url(img/browser-right-min.png) right bottom no-repeat;
        padding-top: 80px;
      }
      .advert-title {
        font-family: "Raleway", sans-serif;
        color: #555555;
        font-size: 30px;
        font-weight: 600;
        padding-bottom: 24px;
      }

      .advert-text {
        max-width: 757px;
        font-family: "Montserrat", sans-serif;
        color: #8c8c8c;
        font-size: 16px;
        font-weight: 300;
        line-height: 28px;
        text-align: center;
        padding-bottom: 40px;
      }

      .advert-picture {
        max-height: 482px;
        max-width: 770px;
      }
      .advert-purchase {
        align-self: stretch;
        background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
        opacity: 0;
        transition: .2s linear;
      }
      .purchase-wrapper {
        display: flex;
        justify-content: space-between;
        padding: 48px 0;
      }
      .purchase-title {
        font-family: "Raleway", sans-serif;
        color: #fff;
        font-size: 28px;
        font-weight: 400;
        padding-bottom: 8px;
      }

      .purchase-title-brown {
        color: #c7b299;
      }
      .purchase-text {
        font-family: "Montserrat", sans-serif;
        color: #615855;
        font-size: 18px;
        font-weight: 300;
      }
      .purchase-link {
        text-transform: uppercase;
      }
      .advert:hover .advert-purchase {
        opacity: 1;
      }


      .projects {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 80px 0;
      }
      
      .projects-title {
        font-family: "Raleway", sans-serif;
        color: #555555;
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 24px;
      }
      
      .projects-text {
        font-family: "Montserrat", sans-serif;
        color: #8c8c8c;
        font-size: 16px;
        font-weight: 300;
        line-height: 28px;
        max-width: 750px;
        text-align: center;
        margin-bottom: 50px;
      }
      
      .projects-menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 40px;
      }
      
      .projects-link {
        padding: 10px 25px;
        border-radius: 3px;
        border: 1px solid #ebebeb;
        margin: 0 5px;
        font-family: "Montserrat", sans-serif;
        color: #8c8c8c;
        font-size: 14px;
        font-weight: 300;
        line-height: 21px;
        -webkit-transition: .2s linear;
        transition: .2s linear;
      }
      
      .projects-link:hover {
        color: #fff;
        background-color: #998675;
      }
      
      .projects-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-bottom: 40px;
      }
      
      .projects-post {
        width: 370px;
        height: 337px;
        margin: 15px 0;
      }
      
      .post-icons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 237px;
      }
      
      .post-link {
        height: 100%;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background: rgba(0, 0, 0, .6);
        opacity: 0;
        -webkit-transition: .2s linear;
        transition: .2s linear;
      }
      
      .post-link:first-child {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
      }
      
      .post-link-img {
        padding: 0 12px;
      }
      
      .post-link-img:hover {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
      }
      
      .icons-bg-1 {
        background-color: #362f2d;
        background: url(img/bg-1.png) no-repeat;
      }
      
      .icons-bg-2 {
        background-color: #362f2d;
        background: url(img/bg-2.png) no-repeat;
      }
      
      .icons-bg-3 {
        background-color: #362f2d;
        background: url(img/bg-3.png) no-repeat;
      }
      
      .icons-bg-4 {
        background-color: #362f2d;
        background: url(img/bg-4.png) no-repeat;
      }
      
      .icons-bg-5 {
        background-color: #362f2d;
        background: url(img/bg-5.png) no-repeat;
      }
      
      .icons-bg-6 {
        background-color: #362f2d;
        background: url(img/bg-6.png) no-repeat;
      }
      
      .post-description {
        padding: 30px;
        -webkit-transition: .2s linear;
        transition: .2s linear;
      }
      
      .post-description :before {
        content: "";
        border: 10px solid transparent;	
        border-bottom: 10px solid #ccc;
        position: absolute;
        top: -20px;
        left: 19px;
      }

      .post-title {
        font-family: "Raleway", sans-serif;
        color: #c7b29a;
        font-size: 20px;
        font-weight: 500;
      }
      
      .post-text {
        font-family: "Montserrat", sans-serif;
        color: #d1d1d1;
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        padding-top: 14px;
      }
      
      .projects-post:hover .post-link {
        opacity: 1;
        
      }
      
      .projects-post:hover .post-description {
        background-color: #362f2d;
        
      }

      .video {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 705px;
        position: relative;
        overflow: hidden;
        background: url(img/bg_photo_10983.jpg);
        background-size: cover;
      }
      
      .video-item {
        width: 100vh;
        height: 100vh;
        /* overflow: hidden; */

      }
      
      .video-txt-wrp {
        width: 600px;
        padding: 10px;
        box-sizing: border-box;
        position: absolute;
      }
      
      .video-txt-btn {
        display: block;
        width: 100px;
        height: 100px;
        margin: 0 auto;
        outline: none;
        /* border: none; */
        border-radius: 50%;
        background-color: transparent;
        background-size: cover;
        background-image: url(img/play.svg);
      }
      
      .video-txt-title {
        font-family: "Raleway", sans-serif;
        color: #ffffff;
        font-size: 30px;
        font-weight: 500;
        margin-top: 40px;
      }

      .video-txt-p {
        text-align: justify;
font-family: Montserrat;
font-size: 16px;
line-height: 28px;
font-weight: 300;
color: #ffffff;
text-align: center;
      }
      
      .video-txt-time {
font-family: Montserrat;
font-size: 14px;
line-height: 24px;
font-weight: 400;
color: #c7b299;
      }
      
      .video-txt-title,
      .video-txt-time {
        display: block;
        text-align: center;
      }


      .advantage-wrapper {
        margin-top: 80px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        background: url(img/iphone_in_hand.jpg) no-repeat;
      }
      
      .advantage-text {
        padding: 100px 30px;
        max-width: 650px;
        text-align: justify;
      }
      
      .advantage-title {
        font-family: "Raleway", sans-serif;
        color: #555555;
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 40px;
      }
      
      .advantage-paragraph,
      .advantage-list {
        font-family: "Montserrat", sans-serif;
        color: #8c8c8c;
        font-size: 16px;
        font-weight: 300;
        line-height: 28px;
      }
      
      .advantage-list {
        line-height: 32px;
        padding-left: 50px;
        margin-top: 45px;
      }
      
      .advantage-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        cursor: pointer;
      }
      
      .advantage-item-icon {
        display: inline-block;
        height: 21px;
        min-width: 21px;
        background: url(img/right-chevron.png) no-repeat;
        background-size: cover;
        margin-right: 30px;
      }
      
      .advantage-item:hover .advantage-item-icon {
        background: url(img/right-chevron%20dark.png) no-repeat;
        background-size: cover;
      }
      
      .advantage-item:hover {
        text-shadow: 1px 1px #362F2D;
      }
      
      .counters {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
        background-color: brown;
        padding-bottom: 60px;
        padding-top: 70px;
        background: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
        background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
      }
      
      .counters-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        min-width: 120px;
        padding: 10px 30px;
        position: relative;
        -webkit-transition: .2s ease-in-out;
        transition: .2s ease-in-out;
        overflow: hidden;
      }
      
      .counters-item:before {
        content: " ";
        background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, .1)), to(rgba(255, 255, 255, .5)));
        background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
        height: 200px;
        width: 50px;
        position: absolute;
        top: 0px;
        left: -155px;
        -webkit-transform: skewX(-45deg);
        transform: skewX(-45deg);
      }
      
      .counters-item:hover {
        background-color: rgba(0, 0, 0, .5);
        border-radius: 10px;
      }
      
      .counters-item:hover:before {
        left: 300px;
        -webkit-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
      }
      
      .counters-icon {
        min-height: 44px;
        min-width: 54px;
        background: url(img/spritesheet-counters.png) no-repeat;
        margin-bottom: 30px;
      }
      
      .counters-bell {
        background-position: -10px -10px;
      }
      
      .counters-cup {
        background-position: -8px -74px;
      }
      
      .counters-dialog {
        background-position: -5px -138px;
      }
      
      .counters-heart {
        background-position: -5px -202px;
      }
      
      .counters-user {
        background-position: -5px -266px;
      }
      
      .counters-number {
        font-family: "Montserrat", sans-serif;
        color: #fff;
        font-size: 48px;
        font-weight: 200;
        line-height: 36px;
        margin-bottom: 20px;
      }
      
      .counters-name {
        font-family: "Montserrat", sans-serif;
        color: #c7b299;
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        margin-bottom: 30px;
        text-transform: uppercase;
      }
      
      .counters-line {
        width: 30px;
        border: 1px solid #fff;
      }
      
      .recent-posts-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 80px auto;
      }
      
      .recent-posts-title {
        font-family: "Raleway", sans-serif;
        color: #555555;
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 30px;
      }
      
      .recent-posts-text {
        font-family: "Montserrat", sans-serif;
        color: #8c8c8c;
        font-size: 16px;
        font-weight: 300;
        line-height: 28px;
        max-width: 750px;
        text-align: center;
      }
      
      .recent-posts-inner-wrapper {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin: 40px 0;
      }
      
      .recent-posts-post {
        width: 370px;
      }
      
      .recent-posts-picture {
        height: 220px;
      }
      
      .picture-left {
        background: url(img/legs.png) no-repeat;
        background-size: cover;
      }
      
      .picture-center {
        background: url(img/hands.png) no-repeat;
        background-size: cover;
      }
      
      .picture-right {
        background: url(img/ship.png) no-repeat;
        background-size: cover;
      }
      
      .recent-posts-date {
        height: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 20px;
        -webkit-transition: .2s linear;
        transition: .2s linear;
      }
      
      .recent-posts-number {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        background-color: #363636;
        width: 50px;
        height: 35px;
        font-family: "Montserrat", sans-serif;
        color: #ffffff;
        font-size: 24px;
        font-weight: 300;
        text-align: center;
        padding-top: 5px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: .2s linear;
        transition: .2s linear;
      }
      
      .recent-posts-month {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        background-color: #252525;
        width: 50px;
        height: 25px;
        font-family: "Montserrat", sans-serif;
        color: #ffffff;
        font-size: 12px;
        font-weight: 400;
        text-align: center;
        padding-top: 6px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: .2s linear;
        transition: .2s linear;
      }
      
      .recent-posts-description {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 30px;
        -webkit-transition: .2s linear;
        transition: .2s linear;
      }
      
      .recent-posts-caption {
        font-family: "Raleway", sans-serif;
        color: #555555;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 20px;
      }
      
      .recent-posts-paragraph {
        font-family: "Montserrat", sans-serif;
        color: #8c8c8c;
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        margin-bottom: 25px;
      }
      
      .recent-posts-link {
        font-family: "Montserrat", sans-serif;
        color: #c7b299;
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        padding-right: 15px;
        background: url(img/play-arrow.png) no-repeat;
        background-position: right 6px;
      }
      
      .recent-posts-post:hover .recent-posts-date {
        background-color: rgba(0, 0, 0, 0.5);
      }
      
      .recent-posts-post:hover .recent-posts-number {
        background-color: #c7b299;
      }
      
      .recent-posts-post:hover .recent-posts-month {
        background-color: #a48d72;
      }
      
      .recent-posts-post:hover .recent-posts-description {
        background-color: #362f2d;
      }
      
      .recent-posts-post:hover .recent-posts-caption {
        color: #c7b299;
      }
      
      .recent-posts-post:hover .recent-posts-paragraph {
        color: #fff;
      }
      
      .recent-posts-arrows {
        width: 48px;
        height: 24px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
      }
      
      .recent-posts-arrow-left {
        width: 24px;
        background: url(img/left-arrow.png) no-repeat;
        background-size: cover;
      }
      
      .recent-posts-arrow-right {
        width: 24px;
        background: url(img/right-arrow.png) no-repeat;
        background-size: cover;
      }
      
      .partners {
        background: url(img/photo-min.png) no-repeat;
        padding: 130px 0;
      }
      
      .partners-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
      }
      
      .partners-link {
        height: 210px;
        width: 210px;
        position: relative;
      }
      
      .partners-link:before,
      .partners-link:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
      }
      
      .partners-link:before {
        bottom: 0;
        left: 0;
        border-left: 1px solid rgba(255, 255, 255, .4);
        border-top: 1px solid rgba(255, 255, 255, .4);
        -webkit-transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
        transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
      }
      
      .partners-link:after {
        top: 0;
        right: 0;
        border-right: 1px solid rgba(255, 255, 255, .4);
        border-bottom: 1px solid rgba(255, 255, 255, .4);
        -webkit-transition: 0s ease opacity .4s, .2s ease width, .2s ease height .2s;
        transition: 0s ease opacity .4s, .2s ease width, .2s ease height .2s;
      }
      
      .partners-link:hover:before,
      .partners-link:hover:after {
        height: 100%;
        width: 100%;
        opacity: 1;
      }
      
      .partners-link:hover:before {
        -webkit-transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;
        transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;
      }
      
      .partners-link:hover:after {
        -webkit-transition: 0s ease opacity .4s, .2s ease height .4s, .2s ease width .6s;
        transition: 0s ease opacity .4s, .2s ease height .4s, .2s ease width .6s;
      }
      
      .partners-barber {
        background: url(img/Logos-min.png) no-repeat;
      }
      
      .partners-delicious {
        background: url(img/Logos-min.png) no-repeat;
        background-position: -300px;
      }
      
      .partners-designers {
        background: url(img/Logos-min.png) no-repeat;
        background-position: -600px;
      }
      
      .partners-royal {
        background: url(img/Logos-min.png) no-repeat;
        background-position: -900px;
      }
      
      .footer-top {
        background-color: #191919;
      }
      
      .footer-top-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding-top: 80px;
        padding-bottom: 80px;
      }
      
      .footer-top-item {
        width: 260px;
        padding: 0 5px;
      }
      
      .waxom-paragraph {
        font-family: "Montserrat", sans-serif;
        color: #545454;
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
        padding: 30px 0;
      }
      
      .waxom-link {
        font-family: "Montserrat", sans-serif;
        color: #d1d1d1;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        padding-right: 15px;
        background: url(img/play-arrow-light.png) no-repeat;
        background-position: right 6px;
      }
      
      .footer-top-title {
        font-family: "Raleway", sans-serif;
        color: #ffffff;
        font-size: 24px;
        font-weight: 600;
        padding-top: 15px;
        padding-bottom: 30px;
      }
      
      .footer-post {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        cursor: pointer;
        padding-bottom: 20px;
        padding-top: 15px;
        border-bottom: 1px solid #252525;
      }
      
      .footer-post:last-child {
        border-bottom: none;
      }
      
      .footer-post:hover .footer-date {
        color: #fff;
      }
      
      .footer-post:hover .footer-text {
        color: #c7b299;
      }
      
      .footer-post:hover .footer-time {
        color: #fff;
      }
      
      .footer-date,
      .footer-time {
        font-family: "Montserrat", sans-serif;
        color: #363636;
        font-size: 12px;
        font-weight: 300;
        line-height: 20px;
      }
      
      .footer-text {
        font-family: "Montserrat", sans-serif;
        color: #545454;
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        text-align: justify;
      }
      
      .twitter-link {
        color: #00bff3;
      }
      
      .footer-widget {
        max-width: 270px;
      }
      
      .widget-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-line-pack: justify;
        align-content: space-between;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding-top: 15px;
        height: 210px;
      }
      
      .widget-item {
        width: 130px;
        height: 98px;
        -webkit-transition: .2s linear;
        transition: .2s linear;
      }
      
      .item-1 {
        background: url(img/phone.png) no-repeat;
        background-size: cover;
      }
      
      .item-2 {
        background: url(img/pack.png) no-repeat;
        background-size: cover;
      }
      
      .item-3 {
        background: url(img/magazine.png) no-repeat;
        background-size: cover;
      }
      
      .item-4 {
        background: url(img/icons.png) no-repeat;
        background-size: cover;
      }
      
      .widget-item:hover {
        -webkit-transform: scale(1.2) rotate(-10deg);
        transform: scale(1.2) rotate(-10deg);
      }
      
      .footer-bottom {
        background-color: #111;
        color: #959595;
        padding: 45px;
      }
      
      .footer-bottom-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
      }
      
      .copyright-link {
        font-family: "Montserrat", sans-serif;
        color: #545454;
        font-size: 13px;
        font-weight: 300;
        line-height: 20px;
      }
      
      .copyright-link_white {
        color: #959595;
      }
      
      .copyright-link:hover {
        color: #c7b299;
      }
      
      @media screen and (max-width:  576px) {
        .header-menu {
          display: none;
        }
        #menu-input:checked ~ .header-menu {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          width: 300px;
          -webkit-box-flex: 0;
          -ms-flex-positive: 0;
          flex-grow: 0;
        }
        .menu-link {
          display: block;
          margin: 5px auto;
          width: 300px;
          text-align: center;
          background: rgba(0, 0, 0, .6);
          border: 1px solid #111;
          padding: 10px 0;
          border-radius: 5px;
        }
        .header-cart,
        .header-search-label,
        .header-search,
        .header-side,
        .slider,
        .slider-btns,
        .advert,
        .counters,
        .recent-posts-arrows,
        .footer-top {
          display: none;
        }
        .container {
          max-width:  576px;
          margin: 0 auto;
        }
        .wrapper {
          width: 100%;
          margin: 0;
        }
        .header-wrapper {
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          padding: 0 10px;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
        }
        .burger-img {
          display: block;
        }
        .services-item {
          width: 47%;
        }
        .projects {
          margin-top: 0;
        }
        .projects-post {
          width: 47%;
          background-size: cover;
        }
        .video-video {
          height: 705px;
        }
        .advantage-wrapper {
          background: url(img/iPhone%20in%20hand-min-small.png) no-repeat;
          background-position: 20px bottom;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          height: 520px;
          margin: 20px;
        }
        .advantage-text {
          padding: 0;
          max-width: 700px;
        }
        .advantage-title {
          text-align: center;
        }
        .advantage-list {
          padding-left: 200px;
        }
        .recent-posts-inner-wrapper {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
        }
        .recent-posts-post {
          width: 70%;
        }
        .recent-posts-picture {
          height: 300px;
        }
        .recent-posts-arrows {
          -ms-flex-pack: distribute;
          justify-content: space-around;
        }
        .partners-link {
          height: 105px;
          width: 105px;
        }
        .partners {
          background-size: cover;
          padding: 40px 0;
        }
        .partners-wrapper {
          -ms-flex-pack: distribute;
          justify-content: space-around;
        }
        .partners-barber,
        .partners-delicious,
        .partners-designers,
        .partners-royal {
          background-size: cover;
        }
        .partners-delicious {
          background-position: -150px;
        }
        .partners-designers {
          background-position: -300px;
        }
        .partners-royal {
          background-position: -450px;
        }
        .footer-bottom-wrapper {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -ms-flex-pack: distribute;
          justify-content: space-around;
          height: 100px;
        }
      }